<ion-view>
  <ion-content class="padding">
  <h3>
  	Settings
  </h3>
  <h4>
  	Account
  </h4>
  <div class="list card">
  	<a href="#" class="item item-icon-left item-icon-right">
  		<i class="icon ion-person"></i>
  		Edit Profile
  		<i class="icon ion-chevron-right icon-accessory"></i>
	</a>
	<a href="#" class="item item-icon-left item-icon-right">
		<i class="icon ion-ios-telephone"></i>
		Change Phone Number
		<i class="icon ion-chevron-right icon-accessory"></i>
	</a>
	<a href="#" class="item item-icon-left item-icon-right">
		<i class="icon ion-android-notifications"></i>
		Alerts & Notifications
		<i class="icon ion-chevron-right icon-accessory"></i>
	</a>
	<a href="#" class="item item-icon-left item-icon-right">
		<i class="icon ion-social-facebook"></i>
		Social Networks
		<i class="icon ion-chevron-right icon-accessory"></i>
	</a>
	<a href="#" class="item item-icon-left item-icon-right">
		<i class="icon ion-unlocked"></i>
		Privacy
		<i class="icon ion-chevron-right icon-accessory"></i>
	</a>
	</div>
	<h4>
  	Information & Support
  </h4>
  <div class="list card">
  	<a href="#" class="item item-icon-left item-icon-right">
  		<i class="icon ion-information-circled"></i>
  		Help Center
  		<i class="icon ion-chevron-right icon-accessory"></i>
	</a>
	<a href="#" class="item item-icon-left item-icon-right">
		<i class="icon ion-speakerphone"></i>
		Send Feedback
		<i class="icon ion-chevron-right icon-accessory"></i>
	</a>
	<a href="#" class="item item-icon-left item-icon-right">
		<i class="icon ion-document-text"></i>
		User Agreement
		<i class="icon ion-chevron-right icon-accessory"></i>
	</a>
	<a href="#" class="item item-icon-left item-icon-right">
		<i class="icon ion-locked"></i>
		Privacy Policy
		<i class="icon ion-chevron-right icon-accessory"></i>
	</a>
	</div>
	<button class="button button-block button-assertive" type="button" ui-sref="tab.home">
      Sign Out
    </button>
  </ion-content>
</ion-view>

