<ion-view>
  <ion-content class="padding">
  <div align="center">
  <img class="title-image" src="img/logo.png">
</div>
		<div class="list">
		  <label class="item item-input">
		    <input type="text" placeholder="Email">
		  </label>
		  <label class="item item-input">
		    <input type="password" placeholder="Password">
		  </label>
		</div>
		<div>
		<li class="item item-checkbox checkbox-stable">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     Remember me
		  </li>
	  </div>
      <button class="button icon ion-social-facebook button-block button-positive" type="button">
      Connect with Facebook
      </button>
    <button class="button button-block button-balanced" type="button" ui-sref="tab.chats">
    Log In
    </button>
  </ion-content>
</ion-view>