<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Feed" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Inventory" icon-off="ion-ios-box-outline" icon-on="ion-ios-box" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ng-controller="TabsController" href="#/tab/account" hidden="{{tabState.account.hidden}}">
    <ion-nav-view name="tab-account"></ion-nav-view>
	  </ion-tab>
	  
	  <ion-tab title="Home" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ng-controller="TabsController" href="#/tab/home" hidden="{{tabState.home.hidden}}">
	    <ion-nav-view name="tab-home"></ion-nav-view>
		  </ion-tab>
		  
		 <ion-tab title="Add" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ng-controller="TabsController" href="#/tab/add" hidden="{{tabState.add.hidden}}">
		  	    <ion-nav-view name="tab-add"></ion-nav-view>
		  		  </ion-tab>


</ion-tabs>
